.defaultModel {
  position: absolute;
  background: red;
  margin: 1px;
  height: 19px;
  width: 19px;
  float: left;
}

.gameBack {
  top: 0px;
  left: 0px;
  position: absolute;
  background: black;
  width: 301px;
  height: 601px;
  float: left;
}